.btn {
  border: 0;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 10px;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.015em;
  background-color: var(--btn-light);
  cursor: pointer;

  transition: .12s;

  &:hover {
    background-color: var(--light-gray);
  }
}

.btn:last-child {
  margin-right: 0;
}

.active {
  color: var(--white);
  background-color: var(--btn-dark);

  &:hover {
    background-color: var(--btn-dark);
  }
}