.filter {
  padding: 30px 50px;

  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.015em;
  position: relative;

  span {
    color: var(--primary);
    border-bottom: 1px dashed var(--primary);

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.015em;
  }
}

.sortName {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sortLike {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.015em;
  margin-right: 7px;
}

.svg {
  margin-right: 7px;
  transition: .12s;
  

  div {
    display: flex;
    align-items: center;
  }

  svg {
    width: 10px;
    height: 5px;

    transform: rotate(180deg);
  }
}

.nav {
  display: none;

  position: absolute;
  top: 38px;
  right: 0;

  list-style: none;

  background: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  margin-top: 4px;
  overflow: hidden;

  li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.015em;
    cursor: pointer;

    padding: 10px 15px;

    transition: .12s;

    &:hover {
      background-color: rgba(254, 95, 30, 0.05);;
    }
  }
}

.sortActive {
  color: var(--primary);
  font-weight: 600 !important;
  background-color: rgba(254, 95, 30, 0.05);;
}

.dblock {
  display: block !important;
}

.rotate {
  transform: rotate(180deg);
}