.header {
  padding: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--header-line);
}

.left {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 16px;

  h2 {
    text-transform: uppercase;
    font-weight: 900;
  }

  p {
    color: var(--gray);
  }
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
  font-weight: 500;
}

.price {
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.value {
  padding-left: 10px;
  cursor: pointer;

  .cart {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}