*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  padding: 0 10px;
  color: var(--black);
  background-color: var(--background);

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #FE5F1E;
  --background: #FFDF8C;
  --black: #2C2C2C;
  --gray: #7B7B7B;
  --light-gray: #F3F3F3;
  --header-line: #F7F7F7;
  --btn-light: #F9F9F9;
  --btn-dark: #282828;
  --white: #FFFFFF;
}

.wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 40px auto;
  background-color: var(--white);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.items {
  padding: 0 50px 50px 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

h1 {
  margin-bottom: 22px;
}